.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.button-submit {
  background-color: rgb(14, 243, 106);
  border-radius: 5px;
  color: aliceblue;
  font-weight: bold;
}
.button-submit:hover {
  color: #fd0606;
  cursor: pointer;
}

.view-excel {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.form-group {
  border-color: black;
  border-radius: 5px;
}
.choose-file {
  background-color: rgb(197, 91, 91) !important;
  margin: 0px 4px 0px 0px;
  padding: 1px 6px;
  border-radius: 7px;
  text-align: center;
  font-weight: bold;
  color: aliceblue;
}
h5 {
  font-weight: bold;
  font-size: large;
}

.check-result {
  background-color: rgb(14, 243, 106);
  border-radius: 5px;
  color: aliceblue;
  font-weight: bold;
}
.check-result:hover {
  color: #fd0505;
  cursor: pointer;
}
